*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-optical-sizing: auto;
    scroll-behavior: smooth;
}

:root{
    --bg-darknavy : #0a192f;
    --bg-lightnavy : #233554;
    --bg-darkestnavy: #112240;

    --fs-green: #64ffda;
    --fs-whitegray : #ccd6f6;
    --fs-lightwhitegray: #8892b0;
}

body{
    background-color: var(--bg-darknavy);
}

img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

span{
    color: var(--fs-green);
}

.container{
    width: 90%;
    margin: auto;
}

.btn{
    padding: 10px 14px;
    background-color: transparent;
    color: var(--fs-green);
    border: none;
    border: 1px solid var(--fs-green);
    border-radius: 4px;
    transition: 0.4s ease;
    cursor: pointer;
    &:hover{
        box-shadow: 5px 4px  var(--fs-green);
        transform: translate(-4px,-4px);
    }
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


// =======================================================================================================================
nav{
    position: relative;
    // overflow: hidden;
    .navbar{
        display: flex;
        padding: 5px;
        justify-content: space-between;
        align-items: center;

        .nav-logo{
            height: 70px;
            width: 70px;
            border: 1px solid var(--fs-green);
            color: var(--fs-green);
            display: grid;
            place-content: center;
            border-radius: 60px 10px 60px 10px;
        }
        .nav-list{
            display: flex;
            gap: 20px;
            align-items: center;
            ul{
                display: flex;
                gap: 20px;
                
                li{
                    a{
                        font-size: 16px;
                        color: var(--fs-whitegray);
                        &:hover{
                            color: var(--fs-green);

                        }
                    }
                }
            }
            .sidebarbtn{
                display: none;
            }
            @media (max-width:768px) {
                ul{
                    display: none;
                }
                .sidebarbtn{
                    display: block;
                }
            }
        }
    }  
}

// sidebar for responsive design ---------------------------------------------------------------------------
.sidebar{
    position: fixed;    
    top: 10%;
    right: -700px;
    transition: 0.8s all;
    width: 70%;
    height: 100%;
    text-align: center;
    background-color: var(--bg-darkestnavy);
    ul{
        margin: 60% 0;
        li{
            margin: 30px 0;
            a{
                span{
                    display: block;
                }
                font-size: 26px;
                color: var(--fs-whitegray);
                &:hover{
                    color: var(--fs-green);
                }
            }
        }
    }

    @media (min-width:767px) {
        display: none;
    }
}

.sidebarmove{
    right: 0;
}

// ===========================================================================================================
.container{
    color: var(--fs-whitegray);
    .herosection{
        height: 80vh;
        padding: 0 100px;
        display: grid;
        place-content: center;
        .herodetails{
            p{
                font-size: 18px;
                margin-top: 10px;
                &:nth-child(5){
                    margin-top: 30px;
                    color: var(--fs-green);
                }
            }
            h1{
                font-size: 5rem;
                color: var(--fs-green);
            }
            h2{
                font-size: 4.8rem;
                color: var(--fs-lightwhitegray);
            }
            .technology{
                height: 60%;
                display: grid;
                grid-template-columns: repeat(5,1fr);
                align-items: center;
                justify-items: center;
                
                div{
                    width: fit-content;
                    text-align: center;
                    img{
                        width: 140px;
                    }
                }
            }
        }
        @media (max-width:576px) {
            height: 100%;
            padding: 100px 40px;
            .herodetails{
                p{
                    font-size: 18px;
                }
                h1{
                    font-size: 4rem;
                }
                h2{
                    font-size: 3.6rem;
                }
                .technology{
                    margin-top: 15px;
                    height: 60%;
                    gap: 0;
                    grid-template-columns: repeat(2,1fr);
                    div{
                        img{
                            max-width: 90px;
                        }
                    }
                }
            }
        }
        @media (min-width:577px) {
            height: 100%;
            padding: 100px 40px;
            .herodetails{
                p{
                    font-size: 18px;
                }
                h1{
                    font-size: 4rem;
                }
                h2{
                    font-size: 3.6rem;
                }
                .technology{
                    margin-top: 10px;
                    height: 40%;
                    gap: 10px;
                    // grid-template-columns: repeat(2,1fr);
                    div{
                        img{
                            max-width: 100%;
                        }
                    }
                }
            }
        }
        @media (min-width:788px) {
            height: 80vh;
            .herodetails{
                .technology{
                    height: 60%;
                    div{
                        img{
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}

// ============================================================================================================

.container{
    .about{
        // padding: 0 30px;
        h1{
            width: fit-content;
            font-size: 2rem;
            border-bottom: 1px solid var(--fs-green);
            transition: 0.6s all;
            &:hover{
                color: var(--fs-green);
            }
        }
        .about-me{
            padding: 30px 30px;
            font-size: 17px;
            line-height: 1.3;
            letter-spacing: 1px;
            .about-text{
                p{
                    margin: 17px 0;
                    &:nth-child(1){
                        text-indent: 100px;
                    }
                    &:nth-child(3){
                        color: var(--fs-lightwhitegray);
                    }
                }
                ul{
                    li{
                        margin: 14px 0;
                        span{
                            margin-right: 12px;
                            i{
                                font-size: 20px;
                                color: yellow;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width:576px) {
            margin-top: 140px;
            padding: 0 10px;
        }
        @media (min-width:577px) {
            padding: 0 5px;
        }
    }
}


// ==============================================================================================================

.container{
    .work{
        margin: 100px 0;
        h1{
            &:first-child{
                width: fit-content;
                border-bottom: 1px solid var(--fs-green);
                transition: 0.6s all;
                &:hover{
                    color: var(--fs-green);
                }
            }   
        }
        .projects{
            margin: 30px 30px;
            display: flex;
            align-items: center;
            gap: 20px;

            @media (max-width:576px) {
                flex-direction: column;
            }
            @media (min-width:577px) {
                flex-direction: column;
            }
            @media (min-width: 768px) {
                flex-direction: row;
            }
            .project-image{
                flex: 1;
            }

            .projects-text{
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: end;
                color: var(--fs-whitegray);
                order: 2;
                h3{
                    font-size: 18px;
                    color: var(--fs-green);
                }
                h1{
                    margin: 10px 0;
                    font-size: 22px;
                }
                p{
                    font-size: 17px;
                    &:nth-child(3){
                        width: 100%;
                        padding: 10px;
                        margin: 10px 0;
                        color: var(--fs-lightwhitegray);
                        background-color: var(--bg-darkestnavy);
                    }
                }
            }
        }
        .second{
            flex-direction: row-reverse;
            @media (max-width:576px) {
                flex-direction: column;
            }
            @media (min-width:577px) {
                flex-direction: column;
            }
            @media (min-width: 768px) {
                flex-direction: row-reverse;
            }
            .projects-text{
                align-items: flex-start;
            }
        }
        .third{
            flex-direction: row;
            @media (max-width:576px) {
                flex-direction: column;
            }
            @media (min-width:577px) {
                flex-direction: column;
            }
            @media (min-width: 768px) {
                flex-direction: row;
            }
        }
    }
}