* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

:root {
  --bg-darknavy: #0a192f;
  --bg-lightnavy: #233554;
  --bg-darkestnavy: #112240;
  --fs-green: #64ffda;
  --fs-whitegray: #ccd6f6;
  --fs-lightwhitegray: #8892b0;
}

body {
  background-color: var(--bg-darknavy);
}

img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

span {
  color: var(--fs-green);
}

.container {
  width: 90%;
  margin: auto;
}

.btn {
  padding: 10px 14px;
  background-color: transparent;
  color: var(--fs-green);
  border: none;
  border: 1px solid var(--fs-green);
  border-radius: 4px;
  transition: 0.4s ease;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 5px 4px var(--fs-green);
  transform: translate(-4px, -4px);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

nav {
  position: relative;
}
nav .navbar {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}
nav .navbar .nav-logo {
  height: 70px;
  width: 70px;
  border: 1px solid var(--fs-green);
  color: var(--fs-green);
  display: grid;
  place-content: center;
  border-radius: 60px 10px 60px 10px;
}
nav .navbar .nav-list {
  display: flex;
  gap: 20px;
  align-items: center;
}
nav .navbar .nav-list ul {
  display: flex;
  gap: 20px;
}
nav .navbar .nav-list ul li a {
  font-size: 16px;
  color: var(--fs-whitegray);
}
nav .navbar .nav-list ul li a:hover {
  color: var(--fs-green);
}
nav .navbar .nav-list .sidebarbtn {
  display: none;
}
@media (max-width: 768px) {
  nav .navbar .nav-list ul {
    display: none;
  }
  nav .navbar .nav-list .sidebarbtn {
    display: block;
  }
}

.sidebar {
  position: fixed;
  top: 10%;
  right: -700px;
  transition: 0.8s all;
  width: 70%;
  height: 100%;
  text-align: center;
  background-color: var(--bg-darkestnavy);
}
.sidebar ul {
  margin: 60% 0;
}
.sidebar ul li {
  margin: 30px 0;
}
.sidebar ul li a {
  font-size: 26px;
  color: var(--fs-whitegray);
}
.sidebar ul li a span {
  display: block;
}
.sidebar ul li a:hover {
  color: var(--fs-green);
}
@media (min-width: 767px) {
  .sidebar {
    display: none;
  }
}

.sidebarmove {
  right: 0;
}

.container {
  color: var(--fs-whitegray);
}
.container .herosection {
  height: 80vh;
  padding: 0 100px;
  display: grid;
  place-content: center;
}
.container .herosection .herodetails p {
  font-size: 18px;
  margin-top: 10px;
}
.container .herosection .herodetails p:nth-child(5) {
  margin-top: 30px;
  color: var(--fs-green);
}
.container .herosection .herodetails h1 {
  font-size: 5rem;
  color: var(--fs-green);
}
.container .herosection .herodetails h2 {
  font-size: 4.8rem;
  color: var(--fs-lightwhitegray);
}
.container .herosection .herodetails .technology {
  height: 60%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
}
.container .herosection .herodetails .technology div {
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.container .herosection .herodetails .technology div img {
  width: 140px;
}
@media (max-width: 576px) {
  .container .herosection {
    height: 100%;
    padding: 100px 40px;
  }
  .container .herosection .herodetails p {
    font-size: 18px;
  }
  .container .herosection .herodetails h1 {
    font-size: 4rem;
  }
  .container .herosection .herodetails h2 {
    font-size: 3.6rem;
  }
  .container .herosection .herodetails .technology {
    margin-top: 15px;
    height: 60%;
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
  }
  .container .herosection .herodetails .technology div img {
    max-width: 90px;
  }
}
@media (min-width: 577px) {
  .container .herosection {
    height: 100%;
    padding: 100px 40px;
  }
  .container .herosection .herodetails p {
    font-size: 18px;
  }
  .container .herosection .herodetails h1 {
    font-size: 4rem;
  }
  .container .herosection .herodetails h2 {
    font-size: 3.6rem;
  }
  .container .herosection .herodetails .technology {
    margin-top: 10px;
    height: 40%;
    gap: 10px;
  }
  .container .herosection .herodetails .technology div img {
    max-width: 100%;
  }
}
@media (min-width: 788px) {
  .container .herosection {
    height: 80vh;
  }
  .container .herosection .herodetails .technology {
    height: 60%;
  }
  .container .herosection .herodetails .technology div img {
    max-width: 100%;
  }
}

.container .about {
  padding: 0 30px;
}
.container .about h1 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2rem;
  border-bottom: 1px solid var(--fs-green);
  transition: 0.6s all;
}
.container .about h1:hover {
  color: var(--fs-green);
}
.container .about .about-me {
  padding: 30px 30px;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 1px;
}
.container .about .about-me .about-text p {
  margin: 17px 0;
}
.container .about .about-me .about-text p:nth-child(1) {
  text-indent: 100px;
}
.container .about .about-me .about-text p:nth-child(3) {
  color: var(--fs-lightwhitegray);
}
.container .about .about-me .about-text ul li {
  margin: 14px 0;
}
.container .about .about-me .about-text ul li span {
  margin-right: 12px;
}
.container .about .about-me .about-text ul li span i {
  font-size: 20px;
  color: yellow;
}
@media (max-width: 576px) {
  .container .about {
    margin-top: 140px;
    padding: 0 10px;
  }
}
@media (min-width: 577px) {
  .container .about {
    padding: 0 5px;
  }
}

.container .work {
  margin: 100px 0;
}
.container .work h1:first-child {
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid var(--fs-green);
  transition: 0.6s all;
}
.container .work h1:first-child:hover {
  color: var(--fs-green);
}
.container .work .projects {
  margin: 30px 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 576px) {
  .container .work .projects {
    flex-direction: column;
  }
}
@media (min-width: 577px) {
  .container .work .projects {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .container .work .projects {
    flex-direction: row;
  }
}
.container .work .projects .project-image {
  flex: 1;
}
.container .work .projects .projects-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
  color: var(--fs-whitegray);
  order: 2;
}
.container .work .projects .projects-text h3 {
  font-size: 18px;
  color: var(--fs-green);
}
.container .work .projects .projects-text h1 {
  margin: 10px 0;
  font-size: 22px;
}
.container .work .projects .projects-text p {
  font-size: 17px;
}
.container .work .projects .projects-text p:nth-child(3) {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: var(--fs-lightwhitegray);
  background-color: var(--bg-darkestnavy);
}
.container .work .second {
  flex-direction: row-reverse;
}
@media (max-width: 576px) {
  .container .work .second {
    flex-direction: column;
  }
}
@media (min-width: 577px) {
  .container .work .second {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .container .work .second {
    flex-direction: row-reverse;
  }
}
.container .work .second .projects-text {
  align-items: flex-start;
}
.container .work .third {
  flex-direction: row;
}
@media (max-width: 576px) {
  .container .work .third {
    flex-direction: column;
  }
}
@media (min-width: 577px) {
  .container .work .third {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .container .work .third {
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */